.competences {
    display: flex;
}

.mesAtouts {
    justify-content: center;
    flex-direction: column;
    width: 40%;
    border-right: 2px solid #fff;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 35px;
    width:200px;
    max-width: 300px;
    height:auto;
    text-align:center;
}

li {
    width: 100px; 
    padding: 0 10px; 
    vertical-align: middle;
    display: inline-block;
    line-height: 1.2; 
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 20px; 
}

.mesCompetences {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.letter {
    color: #2056ac;
    text-shadow: 1px 1px #000;    
}

.project_link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 22px;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
}

@media screen and (max-width: 800px) {
    .competences {
        display: flex;
        flex-direction: column;
    }

    .mesCompetences {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }

    .mesAtouts {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        border-right: none;
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }
}