.presentation {
    display: flex;
}

.picture {
    width: 25vw;
    border-radius: 100%;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    right: 30px;
}

img {
    width: 260px;
    height: 260px;
    border-radius: 100%;
    margin: 30px 30px;
    border: 2px solid #fff;
    cursor: pointer;    
}

img:hover {
    opacity: 0.80;
    filter: sepia(85%);
    border: 2px solid #000;
}

.work {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.description {
    padding-left: 33px;
}

.mail {
    padding: 0 10px;
    margin-left: 12px;
}

.home {
    padding: 0 10px;
    margin-left: 52px;
}

@media screen and (max-width: 800px) {
    .presentation {
        display: flex;
        flex-direction: column;
    }

    .work {
        width: 100%;
    }

    .picture {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    img {
        margin: 30px auto;
    }

    .description {
        padding-left: 0;
        text-align: center;
    }
    
    .mail {
        padding: 0;
        margin-left: 0;
        text-align: center;
    }
    
    .home {
        padding: 0 ;
        margin-left: 0;
        text-align: center;
    }
}