@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    background-color: #2056ac;
}

.main_content {
    width: 85vw;
    height: auto;
    margin: 25px auto;
    background-color: #e3f0f8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid #fff;
}

.presentation {
    display: flex;
}

.picture {
    width: 25vw;
    border-radius: 100%;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    right: 30px;
}

img {
    width: 260px;
    height: 260px;
    border-radius: 100%;
    margin: 30px 30px;
    border: 2px solid #fff;
    cursor: pointer;    
}

.work {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

span {
    color: #2056ac;  
}

p {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    margin: 5px auto;
}

.phone {
    padding: 0 15px;
}

.mail {
    padding: 0 10px;
    margin-left: 12px;
}

.home {
    padding: 0 10px;
    margin-left: 45px;
}

hr {
    border: 2px solid #2056ac;
}

.competences {
    display: flex;
}

.mesAttouts {
    justify-content: center;
    flex-direction: column;
    width: 40%;
    border-right: 2px solid #2056ac;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 35px;
    width:200px;
    max-width: 300px;
    height:auto;
    text-align:center;
}

li {
    width:100px; /* largeur de la zone de texte */
    padding: 0 10px; /* aération interne de la zone de texte */
    vertical-align:middle;
    display:inline-block;
    line-height:1.2; /* on rétablit le line-height */
    text-align:left;
    font-family: 'Lato', sans-serif;
    font-size: 20px; 
}

.mesCompetences {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.letter {
    color: #2056ac;
    text-shadow: 1px 1px #000;    
}




