@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

body {
    margin: 0;
}

h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.app {
    margin: 0 ;
    padding: 0;
    background-color: #2056ac;
}

p {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    margin: 8px auto;
}

hr {
    border: 1.5px solid #fff;
}

.change_color {
    display: flex;
    justify-content: center;
}

.color_one {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffbe4a;
    color: #fef5e6;
    margin: 0 20px;
    cursor: pointer;
}

.color_two {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #174545;
    color: #6d9190;
    margin: 0 20px;
    cursor: pointer;
}

.color_three {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #de4b4c;
    color: #dd7381;
    margin: 0 20px;
    cursor: pointer;
}

.color_four {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #2056ac;
    color: #e3f0f8;
    margin: 0 20px;
    cursor: pointer;
}

.formations {
    display: flex;
}

.langage {
    width: 40vw;
    background-color: tomato;
}

.ma_formation {
    width: 60vw;
    background-color: teal;
}