@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

$os_text: 'Oswald', sans-serif;
$la_text: 'Lato', sans-serif;
$text_center: center;

$color_primary: #e3f0f8;
$color_secondary: #fff;
$color_background: #2056ac;
$color_app: #e3f0f8;
$color_dark: #000;
$color_grey: #333;

$color_one_major: #ffbe4a;
$color_one_minor: #fef5e6;
$color_two_major: #174545;
$color_two_minor: #6d9190;

@mixin flex {
    display: flex;
}

@mixin gradient {
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
}

@mixin color {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0 20px;
    cursor: pointer;
}

body, .app {
    margin: 0;
}

h2 {
    text-align: $text_center;
    font-family: $os_text;
    &:hover {
        @include gradient;
    }
}

.app {
    padding: 0;
    background-color: $color_background;
}

p {
    text-align: $text_center;
    font-family: $la_text;
    font-size: 21px;
    margin: 8px auto;
}

hr {
    border: 1.5px solid $color_secondary;
}

.change_color {
    @include flex;
    justify-content: center;

    &--one {
        @include color;
        background-color: $color_one_major;
        color: $color_one_minor;
    }

    &--two {
        @include color;
        background-color: $color_two_major;
        color: $color_two_minor;
    }

    &--three {
        @include color;
        background-color: #de4b4c;
        color: #dd7381;
    }

    &--four {
        @include color;
        background-color: $color_background;
        color: $color_app;
    }
}